@model MetroDevABM.Web.Models.Genders.CreateViewModel

@{
    ViewBag.Title = L("CreateGender");
}

@section scripts
{

}

<h2>
    @L("CreateGender")
</h2>

@using (Html.BeginForm("Create", "Gender", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <div class="form-group">
        <label for="Title">@L("Title")</label>
        <input type="text" name="Title" class="form-control" placeholder="@L("Title")" required maxlength="@MetroDevABM.Genders.Gender.MaxTitleLength">
    </div>
    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-warning" })
    <button type="submit" class="btn btn-default">@L("Save")</button>
}
