@model MetroDevABM.Web.Models.ClientTypes.IndexViewModel

@{
    ViewBag.Title = L("ClientTypeList");
}

@section scripts
{
    <script type="text/javascript">

        var LocalApp = function () {
            return {
                ConfirmDelete: function (registryname, id) {
                    var message = "@Html.Raw(L("ConfirmDeleteRegistry"))".replace("{0}", registryname);
                    if (confirm(message)) {
                        $("[name='Id']", $("#FormDelete")).val(id)
                        $("#FormDelete").submit();
                    }
                }
            };
        }();

    </script>
}
@using (Html.BeginForm("Delete", "ClientType", FormMethod.Post, new { id = "FormDelete"}))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id">
}
<h2>
    @L("ClientTypeList")
</h2>

<div class="row">
    <div>
        <table class="table table-striped table-bordered">
            <colgroup>
                <col />
                <col />
                <col style="width:147px; text-align:right" />
            </colgroup>
            <thead>
                <tr>
                    <th>@L("Title")</th>
                    <th>@L("Description")</th>
                    <th style="text-align:right">
                        @Html.ActionLink(L("lblAddNew"), "Create", null, new { @class = "btn btn-primary btn-sm", title = L("AddNewRegistry") })
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ClientTypes.Count > 0)
                {
                    foreach (var item in Model.ClientTypes)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>
                                @Html.ActionLink(L("lblEdit"), "Edit", new { id = item.Id }, new { title = L("EditRegistry"), @class = "btn btn-success btn-sm" })
                                <button class="btn btn-danger btn-sm" onclick="LocalApp.ConfirmDelete('@item.Title', @item.Id)">@L("lblDelete")</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">
                            @L("NoRecords")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>